@import "./variables.css";
nav{
    background: var(--nav-bg-color);
    max-height: 5rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--horizontal-body-pad);
}
nav div{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}
nav div .iconBtn{
    width: 2rem;
    height: 2rem;
    color: var(--grey-icons);
    &:hover{
        background-color: var(--color-grey);
    }
    &:active{
        transform: scale(0.95) translateY(1px) translateX(-2px);
    }
}


@media only screen and (max-width: 1000px) {
    .iconBtn:not(:last-child){
        display: none;
    }
}