
// color Variables
$bg-color: #242121;
$nav-bg-color: #292828;

$grey-text: #808080;
$grey-icons: #E7E2E2CF;

$text-primary:#ffffff;
$text-secondary:#E2E2E2;
$text-tertiary:rgba(255, 255, 255, 0.5);

$color-black: #000000;
$color-white: #ffffff;

$color-grey:#373737;

$horizontal-body-pad: 0 5%;